## Modulo and floor division

In [1]:
a=13
b=4

In [2]:
a//b, a%b

(3, 1)

In [3]:
a=-13
b=4

In [5]:
a//b,a%b

(-4, 3)

In [ ]:
                                      Squences
                            mutable                immutable
                            list                    tuple string

In [ ]:
Sequences
list=[1,2,3,4]
tuple=(1,2,3,4)
x=()   #empty tuple
string="hello"       # collection of 5 chatacters



proprties
1-- positinal ordering
2-- Iterable
3-- homogeneous type or heterogenous type
    [1,2,3,4]              [1,'2','a',#]

In [6]:
list1=[1,2,3,4,5]
type(list1)

list

In [7]:
tup1=(10,20,30,40)
type(tup1)

tuple

In [9]:
str='hello word'
type(str)

str

In [13]:
list1.append(2)
list1

[1, 2, 3, 4, 5, 2, 2]

In [15]:
list1[3]

4

In [16]:
tup1[1]

20

In [17]:
str

'hello word'

In [18]:
str[1:3]

'el'

In [20]:
list1[::-2]

[2, 5, 3, 1]

In [25]:
 list(enumerate(str))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'd')]

# Iterable

In [26]:
for x in list1:
    print(x)

1
2
3
4
5
2
2

In [27]:
for x in list1:
    print(x)
    print('hi')

1
hi
2
hi
3
hi
4
hi
5
hi
2
hi
2
hi

In [29]:
for x in list1:
    print(x)
print('hi')

1
2
3
4
5
2
2
hi

In [30]:
for y in 'hello':
    print(y)

h
e
l
l
o

In [32]:
list2=[1,1.3,'am']
list2

[1, 1.3, 'am']

In [33]:
tup2=(4,4,7,'hello')

In [34]:
str2="hello123"

## Sequence methods

In [35]:
list1

[1, 2, 3, 4, 5, 2, 2]

In [36]:
3 in list1

True

In [37]:
str

'hello word'

In [39]:
'w' in str

True

In [40]:
'A' in str

False

## concatenate

In [42]:
list3=list1 + list2

In [44]:
tup1 +tup2

(10, 20, 30, 40, 4, 4, 7, 'hello')

In [45]:
'abc'+'xyz'

'abcxyz'

## Repition

In [46]:
3 * 'abc'

'abcabcabc'

In [48]:
5 * list1

[1,
 2,
 3,
 4,
 5,
 2,
 2,
 1,
 2,
 3,
 4,
 5,
 2,
 2,
 1,
 2,
 3,
 4,
 5,
 2,
 2,
 1,
 2,
 3,
 4,
 5,
 2,
 2,
 1,
 2,
 3,
 4,
 5,
 2,
 2]

## length, min,max

In [49]:
list1

[1, 2, 3, 4, 5, 2, 2]

In [51]:
len(list1)

7

In [54]:
min(list1)

1

In [55]:
max(list1)

5

In [56]:
list2

[1, 1.3, 'am']

In [57]:
max(list2)

TypeError: '>' not supported between instances of 'str' and 'float'

In [59]:
list3=[1,2,3,1.3,1.5]

In [62]:
min(list3,list1)

[1, 2, 3, 1.3, 1.5]

## Index Positon

In [70]:
str='hello world'

In [71]:
str.index('l')

2

In [72]:
str.index('l',5)

9

In [73]:
str.index('o',0,6)

4

## Addition of elements

In [74]:
list1

[1, 2, 3, 4, 5, 2, 2]

In [77]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 2, 2, 10, 10, 10]

In [78]:
list1.append([20,39])
list1

[1, 2, 3, 4, 5, 2, 2, 10, 10, 10, [20, 39]]

In [79]:
list1.insert(3,55)
list1

[1, 2, 3, 55, 4, 5, 2, 2, 10, 10, 10, [20, 39]]

In [80]:
list1[4]=23

In [81]:
 list1

[1, 2, 3, 55, 23, 5, 2, 2, 10, 10, 10, [20, 39]]

In [127]:
list1[1:2]=[55,66]

In [128]:
list1

[1, 55, 66, 66, 23, 5, 2, 2, 10, 10, 10, [20, 39]]

## Remove Elements

In [85]:
lst=[10,20,30,40,50,60,88,99]

In [86]:
del(lst)

In [87]:
lst

NameError: name 'lst' is not defined

In [88]:
lst=[10,20,30,40,50,60,88,99]

In [90]:
del lst[1:4]
lst

[10, 99]

In [91]:
lst.pop(1)

99

In [92]:
lst.pop()

10

In [93]:
lst

[]

In [94]:
lst=[10,20,30,40,50,60,88,99]
lst.clear()

In [95]:
lst

[]

In [97]:
## Reverse

In [98]:
lst=[10,20,30,40,50,60,88,99]

In [99]:
lst.reverse()

In [100]:
lst

[99, 88, 60, 50, 40, 30, 20, 10]

In [101]:
lst[::-1]

[10, 20, 30, 40, 50, 60, 88, 99]

## Sorting

In [103]:
lst

[99, 88, 60, 50, 40, 30, 20, 10]

In [105]:
lst.sort()
lst

[10, 20, 30, 40, 50, 60, 88, 99]

In [106]:
lst.sort(reverse=True)
lst

[99, 88, 60, 50, 40, 30, 20, 10]

In [110]:
list3=['c','c+','c++','java','python']
list3.sort(reverse=True)

In [111]:
list3

['python', 'java', 'c++', 'c+', 'c']

## Tuple

In [114]:
tup=([1,2,3,4],[5,6,7,8])

In [115]:
tup[0]

[1, 2, 3, 4]

In [116]:
tup[0].append(44)

In [117]:
tup

([1, 2, 3, 4, 44], [5, 6, 7, 8])

In [120]:
tup[0].insert(2,44)
tup

([1, 2, 44, 44, 44, 3, 4, 44], [5, 6, 7, 8])

## String