In [1]:
my_str="python"

In [2]:
my_str.capitalize()

'Python'

In [3]:
my_str1="hello world"

In [4]:
my_str1.capitalize()

'Hello world'

In [5]:
my_str1.title()

'Hello World'

In [6]:
my_str1.lower()

'hello world'

In [7]:
my_str1.upper()

'HELLO WORLD'

In [8]:
'PYTHON'.lower()

'python'

In [9]:
'python'.upper()

'PYTHON'

In [10]:
"Python".swapcase()

'pYTHON'

In [12]:
"python".endswith('on'),'python'.endswith('ab')

(True, False)

In [15]:

"python".startswith('on'),'python'.startswith('ab')

(False, False)

In [17]:
str1='python'

In [18]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

(True, True, False)

In [20]:
str1="123"

In [21]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

(False, True, True)

In [23]:
" ".isspace(),"".isspace()

(True, False)

In [25]:
"      python      ".strip()

'python'

In [26]:
"      python      ".lstrip()

'python      '

In [28]:
"      python      ".rstrip()

'      python'

In [34]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [35]:
'ab;cd;ef'.split(';')

['ab', 'cd', 'ef']

## Variable Unpacking

In [36]:
x,y,z=[1,2,3]

In [37]:
a,b,c=(1,2,3)

In [38]:
x,y,z='abc'

## Dictionaries

In [40]:
dict1={'Name':'vaiju','Age':'24'}
dict1

{'Name': 'vaiju', 'Age': '24'}

In [41]:
#Accessing values in dictionary
dict1['Name']

'vaiju'

In [43]:
dict1['Age']

'24'

In [44]:
## Updating dictionarydict1
dict1['Name']='sawrate'

In [45]:
dict1

{'Name': 'sawrate', 'Age': '24'}

In [46]:
dict1['location']='pune'

In [47]:
dict1

{'Name': 'sawrate', 'Age': '24', 'location': 'pune'}

In [48]:
## Delete dictionary elements
del(dict1['Name'])

In [49]:
dict1

{'Age': '24', 'location': 'pune'}

In [50]:
dict1.clear()

In [51]:
dict1

{}

In [52]:
del(dict1)

In [53]:
dict1

NameError: name 'dict1' is not defined

## Sets

In [54]:
## Sets have unique values
## SEts does not have positional ordering

In [55]:
s1={1,2,3,4,5}

In [56]:
s1[0]  ## we can not access

TypeError: 'set' object is not subscriptable

In [58]:
s2={11,2,33,44,55,66}

In [60]:
for i in s2:
    print(i)

33
2
66
11
44
55

In [61]:
s1={}
type(s1)

dict

In [62]:
type(s2)

set

In [63]:
s1=set()

In [64]:
type(s1)

set

In [65]:
len(s1)

0

In [66]:
len(s2)

6

In [68]:
s1={1,'a',(1,2),9.9}

In [69]:
## it is not taking mutable data type list

In [74]:
s1=set([1,2,3,4,5])
s1

{1, 2, 3, 4, 5}

In [73]:
s2=set((1,2,3,4,5,6,77,8,9,0))
s2

{0, 1, 2, 3, 4, 5, 6, 8, 9, 77}

In [75]:
s3=set('python')

In [76]:
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [91]:
s4=set('hiiiiiiiii')
s4

{'h', 'i'}

In [92]:
for i in range(1,5):
    print(i)

1
2
3
4

In [93]:
## Union
s1={1,2,3}
s2={3,4,5}

In [94]:
s1|s2

{1, 2, 3, 4, 5}

In [95]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [96]:
## Intersection

In [97]:
s1&s2

{3}

In [98]:
s1.intersection(s2)

{3}

In [99]:
## Difference

In [100]:
s1-s2

{1, 2}

In [101]:
s1.difference(s2)

{1, 2}

In [102]:
s2.difference(s1)

{4, 5}

In [104]:
s1,s2

({1, 2, 3}, {3, 4, 5})

In [105]:
## Symmetric difference
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

In [106]:
s1.symmetric_difference(s2)   ## It removes commom values in both sets and combine it

{1, 2, 3, 7, 8, 9}

In [107]:
s2.issubset(s1)

False

## Assigning Values

In [108]:
# '=' is used for assigned
a,b,c=1,'xyz',5.5

In [109]:
a_str="This is single line string"

In [110]:
a_str='''This is
multiple 
line sting'''

In [111]:
a_str

'This is\nmultiple \nline sting'

## Getting Input from users

In [115]:
name=input(' Enter your name  ')

 Enter your name  Vaijanath

In [120]:
age=input('Enter your Age: ')
type(age)

Enter your Age: 24

str

In [117]:
age=eval(input('Enter your Age '))

Enter your Age 24

In [119]:
type(age)

str

## Print statement in Python

In [121]:
print('Hello World')

Hello World

In [122]:
name=input('Enter your name:')

Enter your name:vaij

In [123]:
print('Hello',name)

Hello vaij

In [125]:
print(name,'is',age,' year old')

vaij is 24  year old

In [126]:
## Standard way of using print statement
print('{0} is {1} years old'.format(name,age))

vaij is 24 years old

In [127]:
print(f'{name} is {age} years old')    # f string metod

vaij is 24 years old

In [128]:
# Identity perators
"i"=="Hi"

False

In [129]:
1==1

True

In [130]:
i==i

True

In [131]:
2==3

False

In [132]:
"hello"=="Hello"

False

In [133]:
1!=0

True

In [134]:
a=10
b=10
a is b

True

In [141]:
a=299
b=299
a is b

False

In [136]:
a=256
b=256
a is b

True

In [142]:
a=1234
b=2345

In [143]:
a is b

False

In [144]:
a='hello'
b='hello'
a is b

True

In [147]:
a='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
b='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
a is b

True